.w-100
{
    width: 100%;
}
.box__shadow
{
    box-shadow: 0 1px 30px 2px  rgba( 0, 0 , 0, .2 );
}

.logo__standard
{
    max-width: 70%;
    margin: 0 auto;
    display: block;
}
.logo__no_selected__logo
{
    max-width: 250px;
}
.navbar__logo
{
    max-width: 200px;
}

@media screen and (max-width: 480px) {
    .logo__standard
    {
        max-width: 80%;
    }
}