.modal-card
{
  top: 2.5%;
}
.show-modal
{
  display: block !important;
}
.is-primary
{
  background-color: #DF7575 !important; 
}
.is-secondary
{
  background-color: #9c5252 !important;
}
.rbc-today
{
  background-color: #ffe1e1 !important;
}
.color-white
{
  color: white;
}
.color-1
{
  color: #DF7575;
}
.color-2
{
  color: #9c5252;
}