body,
html
{
  overflow: hidden;
}
.container-wrapper
{
  position: relative;
}
.modal
{
  display: block !important;
  transition: 200ms;
  z-index: 1000;
}
.modal-card
{
  top: 2.5%;
}
.show-modal
{
  opacity: 1;
  visibility: visible;
}
.hide-modal
{
  opacity: 0;
  visibility: hidden;
}
.is-primary
{
  background-color: #DF7575 !important; 
}
.is-secondary
{
  background-color: #9c5252 !important;
}
.rbc-today
{
  background-color: #ffe1e1 !important;
}
.color-white
{
  color: white;
}
.color-1
{
  color: #DF7575;
}
.color-2
{
  color: #9c5252;
}
.rbc-toolbar
{
  padding: 0 0px;
}
.rbc-btn-group > button:first-child:not(:last-child),
.rbc-btn-group > button:last-child:not(:first-child)
{
  border-radius: 0;
}